.slider-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw; /* Full width */
    background-color: #f5f1e7 !important; /* Matches website background */
}

.slider {
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
    width: 1000px;
    height: 100px;
    background: #f5f1e7 !important;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
}

.slider::before,
.slider::after {
    background: linear-gradient(to right, #f5f1e7 0%, rgba(255, 252, 244, 0) 100%);
    content: "";
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
}


.slider::before {
    left: 0;
    top: 0;
}

.slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}

.slide-track {
    display: flex;
    width: calc(250px * 14 * 2); /* Double the width */
    animation: scroll 40s linear infinite;
}

@keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(calc(-250px * 14)); }
}

.slide {
    height: 100px;
    width: 250px;
    flex-shrink: 0; /* Prevents shrinking */
}
